* {
    box-sizing: border-box;
}
body{
    background-color: #7bdaf3;
    display: flex;
    flex-wrap: wrap;
    font-family: "Poppins", sans-serif;
    margin: 0;
}
.note{
    background-color: black;
    box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    height: 400px;
    width: 400px;
}
.note .tools{
	display: flex;
	justify-content: flex-end;
	background-color: green;
	padding: 0.5rem;
}
.note .tools button{
	cursor: pointer;
	background-color: transparent;
	border:none;
	color: white;
	font-size: 1rem;
	margin-left: 0.5rem;
}
.add{
    color: green;
    background-color: transparent;
    font-size: 50px;
    border-color: green;
    border-radius: 100px;
    cursor: pointer;
    position: fixed;
    bottom: 50px;
    right: 0px;
}
.add:hover{
	background-color: white;
}
.note .main {
	padding-top: -10px;
	background-color: black;
	color:white;
    overflow: hidden;
    height: 400px;
    width: 100%;
}
.note textarea {
    outline: none;
    font-family: inherit;
    font-size: 1.2rem;
    border: none;
    height: 400px;
    width: 100%;
}
.note .hidden{
	display: none;
}